################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SupplyDrop/obj/
/SupplyDrop/bin
/SupplyDrop/ChopperDrop.csproj.user
